<footer>
<div class="footer-content">
  {% load static %}
  <img src="{% static 'bookShop/img/bit_logo.png' %}" class="logo" alt="" />
  <div class="footer-ul-container">
    <ul class="category">
      <li class="category-title">Notes</li>
      <li><a href="../js/notes.html#cse" class="footer-link">CSE</a></li>
      <li><a href="../js/notes.html#it" class="footer-link">IT</a></li>
      <li><a href="../js/notes.html#etc" class="footer-link">ETC</a></li>
      <li><a href="../js/notes.html#civil" class="footer-link">Civil</a></li>
      <li><a href="../js/notes.html#ee" class="footer-link">EE</a></li>
      <li><a href="../js/notes.html#eee" class="footer-link">EEE</a></li>
      <li><a href="../js/notes.html#mech" class="footer-link">MECH</a></li>
      <li><a href="../js/notes.html#mba" class="footer-link">MBA</a></li>
    </ul>
    <ul class="category">
      <li class="category-title">Lab Manual</li>
      <li><a href="../js/manual.html#cse" class="footer-link">CSE</a></li>
      <li><a href="../js/manual.html#it" class="footer-link">IT</a></li>
      <li><a href="../js/manual.html#etc" class="footer-link">ETC</a></li>
      <li><a href="../js/manual.html#civil" class="footer-link">Civil</a></li>
      <li><a href="../js/manual.html#ee" class="footer-link">EE</a></li>
      <li><a href="../js/manual.html#eee" class="footer-link">EEE</a></li>
      <li><a href="../js/manual.html#mech" class="footer-link">MECH</a></li>
      <li><a href="../js/manual.html#mba" class="footer-link">MBA</a></li>
    </ul>
    <ul class="category">
      <li class="category-title">Syllabus</li>
      <li><a href="../js/syllabus.html#cse" class="footer-link">CSE</a></li>
      <li><a href="../js/syllabus.html#it" class="footer-link">IT</a></li>
      <li><a href="../js/syllabus.html#etc" class="footer-link">ETC</a></li>
      <li><a href="../js/syllabus.html#civil" class="footer-link">Civil</a></li>
      <li><a href="../js/syllabus.html#ee" class="footer-link">EE</a></li>
      <li><a href="../js/syllabus.html#eee" class="footer-link">EEE</a></li>
      <li><a href="../js/syllabus.html#mech" class="footer-link">MECH</a></li>
      <li><a href="../js/syllabus.html#mba" class="footer-link">MBA</a></li>
    </ul>
  </div>
</div>

<p class="footer-title">About</p>
<p class="info">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam quasi
  dolor, ipsum officia omnis totam doloremque laudantium inventore tempore
  nostrum rerum voluptate, possimus sunt sapiente nihil, vel maiores laborum.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum harum
  alias ut asperiores suscipit culpa nihil, distinctio hic! Corporis explicabo
  quos impedit dignissimos, eos mollitia odio officia! Saepe, fugiat adipisci?
</p>
<p class="info">Support Emails - help@gmail.com, customersupport@gmail.com</p>
<p class="info">Telephone - 1800 000 001, 1800 000 002</p>

<div class="footer-social-container">
  <div>
    <a href="#" class="social-link">terms & services</a>
    <a href="#" class="social-link">privacy page</a>
  </div>
  <div>
    <a href="https://www.instagram.com" class="social-link">Instagram</a>
    <a href="https://www.facebook.com" class="social-link">Facebook</a>
    <a href="https://www.twitter.com" class="social-link">Twitter</a>
  </div>
</div>

<p class="footer-credit">CSVTU Online Notes & Books Management</p>
</footer>