<!DOCTYPE html>
<html lang="en">
    
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Books & Notes Management</title>
  <link rel="stylesheet" href="{% static 'bookShop/css/home.css' %}" />
  <link rel="stylesheet" href="{% static 'bookShop/css/footer.css' %}" />
</head>

<body>
  
  <nav class="navbar">
    <div class="nav">
        <img src="{% static 'bookShop/img/bit_logo.png' %}" class="brand-logo" alt="">
        <div class="nav-items">
            <a href="{% url 'auth' %}"><img src="{% static 'bookShop/img/User.png' %}" class="icon" alt=""></a>
            <a href="#"><img src="{% static 'bookShop/img/cart.png' %}" class="icon" alt=""></a>
        </div>
    </div>
    <ul class="links-container">
        <li class="link-item"> <a href="{% url 'home' %}" class="link {{activeHome}}">Home</a></li>
        <li class="link-item"> <a href="{% url 'syllabus' %}" class="link {{activeSyllabus}}">Syllabus</a></li>
        <li class="link-item"> <a href="{% url 'notes' %}" class="link {{activeNotes}}">Notes</a></li>
        <li class="link-item"> <a href="{% url 'manuals' %}" class="link {{activeManuals}}">Lab Manual</a></li>
        <li class="link-item"> <a href="{% url 'books' %}" class="link {{activeBooks}}">Books</a></li>
    </ul>
</nav>

{% block content %}
  
{% endblock content %}

<script src="{% static 'bookShop/js/home.js' %}"></script>

</body>
    
<footer>
  <div class="footer-content">
    <img src="{% static 'bookShop/img/bit_logo.png' %}" class="logo" alt="" />
    <div class="footer-ul-container">
      <ul class="category">
        <li class="category-title">Notes</li>
        <li><a href="{% url 'notes' %}#cse" class="footer-link">CSE</a></li>
        <li><a href="{% url 'notes' %}#it" class="footer-link">IT</a></li>
        <li><a href="{% url 'notes' %}#etc" class="footer-link">ETC</a></li>
        <li><a href="{% url 'notes' %}#civil" class="footer-link">Civil</a></li>
        <li><a href="{% url 'notes' %}#ee" class="footer-link">EE</a></li>
        <li><a href="{% url 'notes' %}#eee" class="footer-link">EEE</a></li>
        <li><a href="{% url 'notes' %}#mech" class="footer-link">MECH</a></li>
        <li><a href="{% url 'notes' %}#mba" class="footer-link">MBA</a></li>
      </ul>
      <ul class="category">
        <li class="category-title">Lab Manual</li>
        <li><a href="{% url 'manuals' %}#cse" class="footer-link">CSE</a></li>
        <li><a href="{% url 'manuals' %}#it" class="footer-link">IT</a></li>
        <li><a href="{% url 'manuals' %}#etc" class="footer-link">ETC</a></li>
        <li><a href="{% url 'manuals' %}#civil" class="footer-link">Civil</a></li>
        <li><a href="{% url 'manuals' %}#ee" class="footer-link">EE</a></li>
        <li><a href="{% url 'manuals' %}#eee" class="footer-link">EEE</a></li>
        <li><a href="{% url 'manuals' %}#mech" class="footer-link">MECH</a></li>
        <li><a href="{% url 'manuals' %}#mba" class="footer-link">MBA</a></li>
      </ul>
      <ul class="category">
        <li class="category-title">Syllabus</li>
        <li><a href="{% url 'syllabus' %}#cse" class="footer-link">CSE</a></li>
        <li><a href="{% url 'syllabus' %}#it" class="footer-link">IT</a></li>
        <li><a href="{% url 'syllabus' %}#etc" class="footer-link">ETC</a></li>
        <li><a href="{% url 'syllabus' %}#civil" class="footer-link">Civil</a></li>
        <li><a href="{% url 'syllabus' %}#ee" class="footer-link">EE</a></li>
        <li><a href="{% url 'syllabus' %}#eee" class="footer-link">EEE</a></li>
        <li><a href="{% url 'syllabus' %}#mech" class="footer-link">MECH</a></li>
        <li><a href="{% url 'syllabus' %}#mba" class="footer-link">MBA</a></li>
      </ul>
    </div>
  </div>

  <p class="footer-title">About</p>
  <p class="info" style="text-align:justify;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam quasi
    dolor, ipsum officia omnis totam doloremque laudantium inventore tempore
    nostrum rerum voluptate, possimus sunt sapiente nihil, vel maiores laborum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum harum
    alias ut asperiores suscipit culpa nihil, distinctio hic! Corporis explicabo
    quos impedit dignissimos, eos mollitia odio officia! Saepe, fugiat adipisci?
  </p>
  <p class="info">Support Emails - help@gmail.com, customersupport@gmail.com</p>
  <p class="info">Telephone - 1800 000 001, 1800 000 002</p>

  <div class="footer-social-container">
    <div>
      <p style="display: inline; margin-right:5px;" class="info"><a href="#" class="social-link">Terms & services</a></p>
      <p style="display: inline; margin-right:5px;" class="info"><a href="#" class="social-link">Privacy page</a></p>
    </div>
    <div>
      <p style="display: inline; margin-right:5px;" class="info"><a href="https://www.instagram.com" class="social-link">Instagram</a></p>
      <p style="display: inline; margin-right:5px;" class="info"><a href="https://www.facebook.com" class="social-link">Facebook</a></p>
      <p style="display: inline; margin-right:5px;" class="info"><a href="https://www.twitter.com" class="social-link">Twitter</a></p>
    </div>
  </div>

  <p class="footer-credit">CSVTU Online Notes & Books Management</p>
</footer>
</html>
